fastapi
uvicorn
requests
python-dotenv
python-multipart
pydantic
pydantic-settings
loguru
passlib
python-jose
cryptography
uvloop
httptools
pytest
pytest-asyncio
testcontainers  
httpx
aiohttp
python-dateutil
typing-extensions
